body {
}

#call-form-for-event {
    visibility:hidden;
}

.appGrid {
    width: 100vw;
    height: 100vh;
    display: -ms-grid;
    -ms-grid-columns: 120px 1fr 120px;
    -ms-grid-rows: 80px 1fr;
    color: black;
}

.win-appbar {
    background-color: lightgreen;
}

.colorbutton,
.colorbutton .win-commandimage,
button.colorbutton:hover:active,
button.colorbutton:-ms-keyboard-active,
button.colorbutton:active {
    color: black;
}

.colorbutton .win-commandring,
.colorbutton:active .win-commandring {
    background-color: transparent;
    border-color: black;
}

#navigation-bar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    background-color: lightgreen;
    padding-top: 10px;
}

    #navigation-bar button {
        float: left;
        font-size: 40px;
        border: none;
        color: black;
    }

        #navigation-bar button:hover {
            background-color: transparent;
        }

#contenthost {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
